@page "/friends"
@rendermode InteractiveServer
@layout Layout.MyLayout


<PageTitle>Friends</PageTitle>

<img src="IMG_8604.jpeg" alt="Friends" width="500px" height:auto>
<ul>
    <li>Max Gwartney</li>
    <li>Owen Knutson</li>
    <li>Garrison Knapp</li>
    <li>Van Adcox</li>
</ul>
